@tailwind base;
@tailwind components;
@tailwind utilities;

.big{
    overflow: scroll;
    overflow-x: hidden;
}

/* width */
.big::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
.big::-webkit-scrollbar-track {
    background: rgb(229 231 235 / var(--tw-bg-opacity));
}
 
/* Handle */
.big::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
.big::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.small{
    overflow: scroll;
    overflow-x: hidden;
}

/* width */
.small::-webkit-scrollbar {
    width: 4px;
}
 
/* Track */
.small::-webkit-scrollbar-track {
    background: white;
}
 
/* Handle */
.small::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
.small::-webkit-scrollbar-thumb:hover {
    background: #555;
}